.u-section-1 {
  background-image: url("images/pozadina.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 905px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 115px auto 0 30px;
}

.u-section-1 .u-form-1 {
  height: 375px;
  margin: 48px 160px 0 410px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-text-2 {
  margin: -413px 758px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5625rem;
  margin: 22px 758px 0 -29px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 21px 758px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 22px 758px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 57px 758px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 60px;
    margin-left: 310px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 625px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 625px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 625px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 625px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 625px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 427px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 150px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 479px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 479px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 479px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 479px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-1 .u-form-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 359px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 201px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 226px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 226px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    margin-right: 226px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 226px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 226px;
  }
}