.u-section-1 {
  background-image: url("images/pozadina.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 674px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 557px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 427px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 426px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 201px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }
}

.rating-css {
  height: 50px;
  width: 200px;
  
}
.rating-css div {
  color: #ffe400;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  
}
.rating-css input {
  display: none;
}
.rating-css input + label {
  font-size: 20px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
  color: #838383;
}
.rating-css label:active {
  transform: scale(0.8);
  transition: 0.3s ease;
}


div.prijava_form *{
	
  
	font-size: 4vh;
	margin-top: 1.5vh;
	margin-bottom: 1.5vh;
}


p.prijava_paragraph
{
  color:white;
  margin-left: 26vw;
  background-color: teal;
  font-size: 3.5vh;
  font-style: bold;
  
	width: 30%;
	text-align: center;
}

input.prijava_input, button.prijava_button
{
	width: 40%;
	margin-left: 29%;
	display: flex;
	justify-content: space-around;
}

div.prijava{
  
	padding-top: 65px;	
}





form.registracija_form
{
	width:40vw;
	margin-left: 15vw;
}

form.registracija_form *
{
	font-size: 2.5vh;
	margin-top: 2vh;
	
}

form.registracija_form p
{
  color:white;
  margin-left: 10vw;
  background-color: teal;
  font-style: bold;
  font-size: 25px;
	width:50%;
	display: inline-block;
	text-align: center;
}

form.registracija_form input, form.registracija_form select, form.registracija_form button
{
	width:70%;
	margin-left: 15%;
}

